.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10%;
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 100;
}

.header--nav {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav--logo {
    color: #585858;
}

.nav--divider {
    border-left: 1px dotted #777e90;
    padding: 10px;
}